body{
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;

    background-color: rgb(0, 99, 66);
}

header{
    width: 100vw;
    height: 10vh;
    background-color: beige;
}

main{
    width: 100vw;
    height: 80vh;
    background-color: beige;
    display:flex;
    align-items: center;
    flex-flow: row-reverse;
    background:linear-gradient(beige 97%, rgb(241, 175, 88) 99%);
}

footer{
    width: 100vw;
    height: 10vh;
    /*background-color:darkgoldenrod;
    background-color: rgb(60, 59, 139);
    */
    background-color: rgb(241, 175, 88);
}

#encriptador{
    background-color: aqua;
    /*opacity: 0.7;
    */  
}

#sidebox{
    position: absolute;
    z-index: 1;
    background-color: beige;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.8em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /*opacity: 0.5;
    
    */
    
}

#copiar{
    border-radius: 0.5em;
    height: 10vh;
    width: 40%;
}

#decodificado{
    border: none;
    background:none;
    resize: none;
    border-color: darkcyan;
    color: aqua;
    font-weight:normal;
    font-size: 150%;
    width: 95%;
    
}

@media screen and (orientation:landscape)
{
    #sidebox{
        min-height: 90vh;
        min-width: 30vw;
        z-index: 1;
        margin: 0 1em 0 0;
    }

    #encriptador{
        min-height: 100%;
        height: auto;

    }
    #decodificado{
        min-height: 40%;
        height: auto;
    }
}

@media (orientation:portrait) {

    main{
        flex-flow:column;
        
    }

    #sidebox{
        z-index: auto;
        position: relative;
        width: 100%;
        min-height: 20%;
        height: auto;
        width: 96vw;
        margin: 0 2vw;
    }
    #encriptador{
        z-index: auto;
        width: 100%;
        min-height: 80%;
        height: auto;
    }

    @media screen and (max-width:767px) {
        #sidebox{
            /*background-color: chartreuse;
            */
        }
    }
    @media screen and (min-width:768px) {
        #sidebox{
            /*background-color: blueviolet;*/
        }
    }
}

